<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<root xmlns="http://www.infineon.com/BifacesConfig"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.infineon.com/BifacesConfig BifacesConfig.xsd ">
	
	<!-- Primary architecture configuration -->
	<primaryArchitecture name= "Tricore" />
	
	<!-- Architecture congfigurations -->
	<architecture name="Tricore" primaryToolchain= "Tasking">
		<!-- Target congfigurations -->
		<target name="Tc" enable="true">
			<output type="elf" enable="true" fileName="$(PROJ_NAME)_Tc.elf" tool="Ld"/>
			<output type="hex" enable="true" fileName="$(PROJ_NAME)_Tc.hex" tool="Hex">
				<input siblingTypes= "elf" useObjects="false" />
			</output>
			<output type="srec" enable="false" fileName="$(PROJ_NAME)_Tc.srec" tool="Srec">
				<input siblingTypes= "elf" useObjects="false" />
			</output>
			<output type="lib" enable="false" fileName="$(PROJ_NAME)_Tc.a" tool="Ar"></output>
		</target>

		<!-- Toolchain configurations -->
		<toolchain name="Gnuc" enable="true"
			path="$(B_GNUC_TRICORE_PATH)\bin"
			configFolder="$(B_CONFIG_FILES_FOLDER)/Config_Tricore_Gnuc"
			configFiles="1_ToolEnv/0_Build/1_Config/Config.mk, Config_Gnuc.mk"
			verbose="false">
			<tool name="Cc" type="COMPILER" command="tricore-gcc">
				<optionSet id="Common">
					$(B_GNUC_TRICORE_CC_OPTIONS)
				</optionSet>
				<optionSet id="Cpp">$(B_GNUC_TRICORE_CPP_OPTIONS)</optionSet>
				<argument
					template="{kw:options} @{kw:incpaths_listfile} -c ${kw:lt} -o $@ -save-temps=obj -MMD" />
			</tool>
			<tool name="Cc1" type="OTHER"
				path="$(B_GNUC_TRICORE_PATH)/bin" command="tricore-gcc">
<!-- This is required for generated c files -->
				<optionSet id="Common">
					$(B_GNUC_TRICORE_CC_OPTIONS)
				</optionSet>
				<argument
					template="{kw:options} @{kw:incpaths_listfile} -c $(@:.o=.c) -o $@ -save-temps=obj -MMD" />
			</tool>
			<tool name="As" type="ASSEMBLER" command="tricore-gcc">
				<optionSet id="Common">
					$(B_GNUC_TRICORE_ASM_OPTIONS)
				</optionSet>
				<argument
					template="{kw:options} @{kw:incpaths_listfile} -c ${kw:lt} -o $@" />
			</tool>
			<tool name="Ld" type="LINKER" command="tricore-g++">
				<optionSet id="Common">
					$(B_GNUC_TRICORE_LD_OPTIONS)
				</optionSet>
				<argument
					template="@{kw:objfiles_listfile} {kw:custobjfiles} $(B_GNUC_TRICORE_LIB_INC) $(B_GNUC_TRICORE_LIBS) -o $@" />
				<argument
					template="{kw:options} -Wl,-T {kw:linkerfile} -Wl,-Map={kw:mapfile} -Wl,--extmap=a" />
			</tool>
			<tool name="Hex" type="OTHER" command="tricore-objcopy" >
				<argument template="${kw:lt} -O ihex $@" />
			</tool>
			<tool name="Srec" type="OTHER" command="tricore-objcopy" >
				<argument template="${kw:lt} -O srec $@" />
			</tool>
			<tool name="Ar" type="ARCHIVER" command="tricore-ar" >
				<argument template="rcs $@ @{kw:objfiles_listfile}" />
			</tool>
		</toolchain>
		<toolchain name="Gcc" enable="true"
			path="$(B_GCC_TRICORE_PATH)\bin"
			configFolder="$(B_CONFIG_FILES_FOLDER)/Config_Tricore_Gcc"
			configFiles="1_ToolEnv/0_Build/1_Config/Config.mk, Config_Gcc.mk"
			verbose="false">
			<tool name="Cc" type="COMPILER" command="tricore-elf-gcc">
				<optionSet id="Common">
					$(B_GCC_TRICORE_CC_OPTIONS)
				</optionSet>
				<optionSet id="Cpp">$(B_GCC_TRICORE_CPP_OPTIONS)</optionSet>
				<argument
					template="{kw:options} @{kw:incpaths_listfile} -c ${kw:lt} -o $@ -save-temps=obj -MMD" />
			</tool>
			<tool name="Cc1" type="OTHER"
				path="$(B_GCC_TRICORE_PATH)/bin" command="tricore-elf-gcc">
<!-- This is required for generated c files -->
				<optionSet id="Common">
					$(B_GCC_TRICORE_CC_OPTIONS)
				</optionSet>
				<argument
					template="{kw:options} @{kw:incpaths_listfile} -c $(@:.o=.c) -o $@ -save-temps=obj -MMD" />
			</tool>
			<tool name="As" type="ASSEMBLER" command="tricore-elf-gcc">
				<optionSet id="Common">
					$(B_GCC_TRICORE_ASM_OPTIONS)
				</optionSet>
				<argument
					template="{kw:options} @{kw:incpaths_listfile} -c ${kw:lt} -o $@" />
			</tool>
			<tool name="Ld" type="LINKER" command="tricore-elf-g++">
				<optionSet id="Common">
					$(B_GCC_TRICORE_LD_OPTIONS)
				</optionSet>
				<argument
					template="@{kw:objfiles_listfile} {kw:custobjfiles} $(B_GCC_TRICORE_LIB_INC) $(B_GCC_TRICORE_LIBS) -o $@" />
				<argument
					template="{kw:options} -T {kw:linkerfile} -Wl,-Map={kw:mapfile} -Wl,--extmap=a" />
			</tool>
			<tool name="Hex" type="OTHER" command="tricore-elf-objcopy" >
				<argument template="${kw:lt} -O ihex $@" />
			</tool>
			<tool name="Srec" type="OTHER" command="tricore-elf-objcopy" >
				<argument template="${kw:lt} -O srec $@" />
			</tool>
			<tool name="Ar" type="ARCHIVER" command="tricore-elf-ar" >
				<argument template="rcs $@ @{kw:objfiles_listfile}" />
			</tool>
		</toolchain>
		<toolchain name="Hightec" enable="true"
			path="$(B_HIGHTEC_TRICORE_PATH)\bin"
			configFolder="$(B_CONFIG_FILES_FOLDER)/Config_Tricore_Hightec"
			configFiles="1_ToolEnv/0_Build/1_Config/Config.mk, Config_Hightec.mk"
			verbose="false">
			<tool name="Cc" type="COMPILER" command="clang">
				<optionSet id="Common">
					$(B_HIGHTEC_TRICORE_CC_OPTIONS)
				</optionSet>
				<optionSet id="Cpp">$(B_HIGHTEC_TRICORE_CPP_OPTIONS)</optionSet>
				<argument
					template="{kw:options} @{kw:incpaths_listfile} -c ${kw:lt} -o $@ -save-temps=obj -MMD" />
			</tool>
			<tool name="Cc1" type="OTHER"
				path="$(B_HIGHTEC_TRICORE_PATH)/bin" command="clang">
<!-- This is required for generated c files -->
				<optionSet id="Common">
					$(B_HIGHTEC_TRICORE_CC_OPTIONS)
				</optionSet>
				<argument
					template="{kw:options} @{kw:incpaths_listfile} -c $(@:.o=.c) -o $@ -save-temps=obj -MMD" />
			</tool>
			<tool name="As" type="ASSEMBLER" command="clang">
				<optionSet id="Common">
					$(B_HIGHTEC_TRICORE_ASM_OPTIONS)
				</optionSet>
				<argument
					template="{kw:options} @{kw:incpaths_listfile} -c ${kw:lt} -o $@" />
			</tool>
			<tool name="Ld" type="LINKER" command="clang">
				<optionSet id="Common">
					$(B_HIGHTEC_TRICORE_LD_OPTIONS)
				</optionSet>
				<argument
					template="-Wl,@{kw:objfiles_listfile} {kw:custobjfiles} $(B_HIGHTEC_TRICORE_LIB_INC) $(B_HIGHTEC_TRICORE_LIBS) -o $@" />
				<argument
					template="{kw:options} -Wl,-T {kw:linkerfile} -Wl,-Map={kw:mapfile}" />
			</tool>
			<tool name="Hex" type="OTHER" command="llvm-objcopy" >
				<argument template="${kw:lt} -O ihex $@" />
			</tool>
			<tool name="Srec" type="OTHER" command="llvm-objcopy" >
				<argument template="${kw:lt} -O srec $@" />
			</tool>
			<tool name="Ar" type="ARCHIVER" command="llvm-ar" >
				<argument template="rcs $@ @{kw:objfiles_listfile}" />
			</tool>
		</toolchain>
		<toolchain name="Tasking" enable="true"
			path="$(B_TASKING_TRICORE_PATH)\bin"
			configFolder="$(B_CONFIG_FILES_FOLDER)/Config_Tricore_Tasking"
			configFiles="1_ToolEnv/0_Build/1_Config/Config.mk, Config_Tasking.mk">
			<tool name="Cc" type="COMPILER" command="cctc"
				nextTools="DepConv">
				<optionSet id="Common">
					$(B_TASKING_TRICORE_CC_OPTIONS)
				</optionSet>
				<argument
					template="-o $@ ${kw:lt} --dep-file=$(@:.o=.dep) -c {kw:options}" />
				<argument template="-f {kw:incpaths_listfile}" />
			</tool>
			<tool name="As" type="ASSEMBLER" command="cctc"
				nextTools="DepConv">
				<optionSet id="Common">
					$(B_TASKING_TRICORE_ASM_OPTIONS)
				</optionSet>
				<argument
					template="-o $@ ${kw:lt} --dep-file=$(@:.o=.dep) -c {kw:options} -f {kw:incpaths_listfile}" />
			</tool>
			<tool name="Cc1" type="OTHER" command="cctc"
				nextTools="As1">
				<!-- This is required for generated c files -->
				<optionSet id="Common">
					$(B_TASKING_TRICORE_CC_OPTIONS)
				</optionSet>
				<argument
					template="-o $@ $(@:.o=.c) -c {kw:options}" />
				<argument template="-f {kw:incpaths_listfile}" />
			</tool>
			<tool name="As1" type="OTHER" command="cctc"><!-- This is required for generated asm files -->
				<optionSet id="Common">
					$(B_TASKING_TRICORE_ASM_OPTIONS)
				</optionSet>
				<argument template="-o $@ $(@:.o=.src) -c {kw:options}" />
			</tool>
			<tool name="DepConv" type="OTHER" command="sed" path=" ">
				<argument
					template="-e 's/\($(subst .,\.,$(@F)) *:\)/$(subst /,\/,$(@D))\/\\1/g' -e 's/\\\/\//g' -e '/\\{kw:dq}/d' $(@:.o=.dep)"
					index="0" />
				<argument
					template="{kw:gt} $(@:.o=.d) ; rm -f $(@:.o=.dep)"
					index="1" />
			</tool>
			<tool name="Ld" type="LINKER" command="cctc">
				<optionSet id="Common">
					$(B_TASKING_TRICORE_LD_OPTIONS)
				</optionSet>
				<argument
					template="-f {kw:objfiles_listfile} {kw:custobjfiles} $(B_TASKING_TRICORE_LIB_INC) $(B_TASKING_TRICORE_LIBS) -o $@:elf {kw:options} --map-file --lsl-file={kw:linkerfile}" />
			</tool>
			<tool name="Hex" type="OTHER" command="cctc">
				<optionSet id="Common">
					$(B_TASKING_TRICORE_LD_OPTIONS)
				</optionSet>
				<argument
					template="-f {kw:objfiles_listfile} {kw:custobjfiles} $(B_TASKING_TRICORE_LIB_INC) $(B_TASKING_TRICORE_LIBS) -o $@:IHEX {kw:options} --lsl-file={kw:linkerfile}" />
			</tool>
			<tool name="Srec" type="OTHER" command="cctc">
				<optionSet id="Common">
					$(B_TASKING_TRICORE_LD_OPTIONS)
				</optionSet>
				<argument
					template="-f {kw:objfiles_listfile} {kw:custobjfiles} $(B_TASKING_TRICORE_LIB_INC) $(B_TASKING_TRICORE_LIBS) -o $@:SREC {kw:options} --lsl-file={kw:linkerfile}" />
			</tool>
			<tool name="Ar" type="ARCHIVER" command="artc">
				<argument template="-rc $@ -f {kw:objfiles_listfile}" />
			</tool>
		</toolchain>
		<toolchain name="Windriver" enable="true"
			path="$(B_WINDRIVER_TRICORE_PATH)\bin"
			configFolder="$(B_CONFIG_FILES_FOLDER)/Config_Tricore_Windriver"
			configFiles="1_ToolEnv/0_Build/1_Config/Config.mk, Config_Windriver.mk">
			<tool name="Cc" type="COMPILER" command="dcc">
                 <optionSet id="Common">
                      $(B_WINDRIVER_TRICORE_CC_OPTIONS)
                 </optionSet>
                 <optionSet id="Cpp">
                      $(B_WINDRIVER_TRICORE_CPP_OPTIONS)
                  </optionSet>
                  <argument template="{kw:options} @{kw:incpaths_listfile} -c ${kw:lt} -o $@ -Xmake-dependency=4 -Xmake-dependency-savefile=$(@:.o=.d)" />
            </tool>
			<tool name="Cc1" type="OTHER" command="dcc">
				<optionSet id="Common">
					$(B_WINDRIVER_TRICORE_CC_OPTIONS)
				</optionSet>
				<argument
					template="{kw:options} @{kw:incpaths_listfile} -c $(@:.o=.c) -o $@ -Xmake-dependency=4 -Xmake-dependency-savefile=$(@:.o=.d)" />
			</tool>
			<tool name="As" type="ASSEMBLER" command="das">
				<optionSet id="Common">
					$(B_WINDRIVER_TRICORE_ASM_OPTIONS)
				</optionSet>
				<argument
					template="{kw:options} @{kw:incpaths_listfile} -o $@ -Xmake-dependency=4 -Xmake-dependency-savefile=$(@:.o=.d) ${kw:lt}" />
			</tool>
			<tool name="Ld" type="LINKER" command="dld">
				<optionSet id="Common">
					$(B_WINDRIVER_TRICORE_LD_OPTIONS)
				</optionSet>
				<argument
					template="{kw:options} -m6 {kw:linkerfile} -@O={kw:mapfile} -o $@ @{kw:objfiles_listfile} {kw:custobjfiles} $(B_WINDRIVER_TRICORE_LIBS) $(B_WINDRIVER_TRICORE_LIB_INC)" />
			</tool>
			<tool name="Hex" type="OTHER" command="ddump">
				<argument template="-R -o $@ ${kw:lt}" />
			</tool>
			<tool name="Srec" type="OTHER" command="ddump">
				<argument template="-R -o $@ ${kw:lt}" />
			</tool>
			<tool name="Ar" type="ARCHIVER" command="dar">
				<argument
					template="-rc $@ @{kw:objfiles_listfile} {kw:custobjfiles}" />
			</tool>
		</toolchain>
		<toolchain name="Ghs" enable="true"
			path="$(B_GHS_TRICORE_PATH)"
			configFolder="$(B_CONFIG_FILES_FOLDER)/Config_Tricore_Ghs"
			configFiles="1_ToolEnv/0_Build/1_Config/Config.mk, Config_Ghs.mk">
			<tool name="Cc" type="COMPILER" command="cxtri">
				<optionSet id="Common">
					$(B_GHS_TRICORE_CC_OPTIONS)
				</optionSet>
				<argument
					template="{kw:options}  ${kw:lt} -c @{kw:incpaths_listfile} -o $@ -keepasmfiles -asmfile_dir=$(@D) --make_depends" />
			</tool>
			<tool name="Cc1" type="OTHER" command="cxtri">
				<optionSet id="Common">
					$(B_GHS_TRICORE_CC_OPTIONS)
				</optionSet>
				<argument
					template="{kw:options} @{kw:incpaths_listfile} -c $(@:.o=.c) -o $@ -keepasmfiles -asmfile_dir=$(@D)" />
			</tool>
					<tool name="As" type="ASSEMBLER" command="cxtri" >
				<optionSet id="Common">
					$(B_GHS_TRICORE_ASM_OPTIONS)
				</optionSet>
				<argument
					template="{kw:options} -c ${kw:lt} -o $@ @{kw:incpaths_listfile} -preprocess_assembly_files" />
			</tool>
			<tool name="Ld" type="LINKER" command="cxtri">
				<optionSet id="Common">
					$(B_GHS_TRICORE_LD_OPTIONS)
				</optionSet>
				<argument
					template='{kw:options} -T {kw:linkerfile} -map={kw:mapfile} -o $@  $(B_GHS_TRICORE_LIBS) $(B_GHS_TRICORE_LIB_INC) @{kw:objfiles_listfile} {kw:custobjfiles}' ></argument>
			</tool>
			<tool name="Hex" type="OTHER" command="gsrec">
				<argument template="-hex386 ${kw:lt} -o $@" />
			</tool>
			<tool name="Srec" type="OTHER" command="gsrec">
				<argument template="${kw:lt} -o $@" />
			</tool>
			<tool name="Ar" type="ARCHIVER" command="ax">
				<argument template="-rc $@ {kw:objfiles} {kw:custobjfiles}" />
			</tool>
		</toolchain>
	</architecture>
	
	<architecture name="i51" primaryToolchain= "Tasking" enable="true">
		<target name="Scr" enable="true">
			<output type="elf" enable="true" fileName="$(PROJ_NAME)_Scr.elf" tool="Ld" />
			<output type="hex" enable="true" fileName="$(PROJ_NAME)_Scr.hex" tool="Hex" >
				<input siblingTypes="elf" />
      </output>  
      <output type="srec" enable="true" fileName="$(PROJ_NAME)_Scr.sre" tool="Srec">
				<input siblingTypes= "elf" useObjects="false" />
			</output>
			<output type="c" enable="true" fileName="CArray.c" tool="Internal/CArray">
				<input useObjects= "false" siblingTypes= "hex" />
			</output>
		</target>
		
		<toolchain name="Tasking" enable="true"
			path="$(B_TASKING_I51_PATH)/bin" 
			configFolder= "1_ToolEnv/0_Build/1_Config/Config_i51_Tasking"
			configFiles= "1_ToolEnv/0_Build/1_Config/Config.mk, Config*.*">
			<tool name="Cc" type="COMPILER" command="cc51"
				nextTools="DepConv">
				<optionSet id="Common">
					$(B_TASKING_I51_CC_OPTIONS)
				</optionSet>
				<argument template="-o $@ -c -t {kw:options} ${kw:lt} -f {kw:incpaths_listfile} --dep-file=$(@:.o=.dep) " />
			</tool>
			<tool name="As"  type="ASSEMBLER" command="cc51" nextTools="DepConv">
				<optionSet id="Common">$(B_TASKING_I51_ASM_OPTIONS)</optionSet>
				<argument template="-o $@ -c {kw:options} ${kw:lt} -f {kw:incpaths_listfile} --dep-file=$(@:.o=.dep) " />
			</tool>
			<tool name="As1"  type="OTHER" command="as51"> <!-- This is required for generated c files -->
				<optionSet id="Common">$(B_TASKING_I51_ASM_OPTIONS)</optionSet>
				<argument template="-o $@ -c {kw:options} $(@:.o=.src) " />
			</tool>
			<tool name="DepConv" type="OTHER" command="sed" path=" ">
				<argument
					template="-e 's/\\.obj/\\.o/g' -e 's/\($(subst .,\.,$(@F)) *:\)/$(subst /,\/,$(@D))\/\\1/g' -e 's/\\\/\//g' -e '/\\{kw:dq}/d' $(@:.o=.dep)"
					index="0" />
				<argument
					template="{kw:gt} $(@:.o=.d) ; rm -f $(@:.o=.dep)"
					index="1" />
			</tool>
			<tool name="Ld" type="LINKER" command="lk51">
				<optionSet id="Common">$(B_TASKING_I51_LD_OPTIONS)</optionSet>
				<argument template="-f {kw:objfiles_listfile} {kw:custobjfiles} $(B_TASKING_I51_LIB_INC) $(B_TASKING_I51_LIBS) -o $@:elf {kw:options} --map-file -d{kw:dq}{kw:linkerfile}{kw:dq}" />
			</tool>
			<tool name="Hex" type="OTHER" command="lk51" >
				<optionSet id="Common">$(B_TASKING_I51_LD_OPTIONS)</optionSet>
				<argument template="-f {kw:objfiles_listfile} {kw:custobjfiles} $(B_TASKING_I51_LIB_INC) $(B_TASKING_I51_LIBS) -o $@:IHEX:2 {kw:options} -d{kw:dq}{kw:linkerfile}{kw:dq}" />
			</tool>
			<tool name="Srec" type="OTHER" command="lk51" >
				<optionSet id="Common">$(B_TASKING_I51_LD_OPTIONS)</optionSet>
				<argument template="-f {kw:objfiles_listfile} {kw:custobjfiles} $(B_TASKING_I51_LIB_INC) $(B_TASKING_I51_LIBS) -o $@:SREC {kw:options} -d{kw:dq}{kw:linkerfile}{kw:dq}" />
			</tool>
		</toolchain>
		<toolchain name="Keil"
			path="$(B_KEIL_I51_PATH)\BIN"
			configFolder="1_ToolEnv/0_Build/1_Config/Config_i51_Keil"
			configFiles="1_ToolEnv/0_Build/1_Config/Config.mk, Config*.*">
			<tool name="Cc" type="COMPILER" command="C51"
				nextTools="CpLst">
				<optionSet id="Common">
					$(B_KEIL_I51_CC_OPTIONS)
				</optionSet>
				<argument template="${kw:lt} {kw:dq}OBJECT($@){kw:dq} {kw:options}" />
			</tool>
			<tool name="CpLst" type="OTHER" command="cp" path=" "
				nextTools="RmLst">
				<argument template="$(&lt;:.c=.LST) $(@D)" />
			</tool>
			<tool name="RmLst" type="OTHER" command="rm" path=" ">
				<argument template="-f $(&lt;:.c=.LST)" /></tool><tool name="Ld" type="LINKER" command="BL51">
				<optionSet id="Common">
					$(B_KEIL_I51_LD_OPTIONS)
				</optionSet>
				<argument
					template="{kw:objfiles} TO $@ {kw:options}" />
			</tool>
			<tool name="Hex" type="OTHER" command="OH51">
				<argument template="$(@:.hex=.elf) {kw:dq}HEXFILE($@){kw:dq}" />
			</tool>	
		</toolchain>
		<toolchain name="Internal" enable="true"
			path="1_ToolEnv/0_Build/0_Utilities">
			<tool name="CArray" type="OTHER" command="iHex2Array" >
				<argument template="${kw:lt} $@ scrProgram" />
			</tool>
		</toolchain>
	</architecture>
	<sourceFolder paths="../../src/Libraries" />
	
	<specificInclude internalPaths= "*/Libraries/*/Scr, */Libraries/*/Sfr/*, */Libraries/*/Tricore, */Libraries/*/Platform/Compilers, */Libraries/*/CpuGeneric, */Libraries/*/ArcEv/*, */AppSw/CpuGeneric/*" />
	<selection>
		<discard files="*/Sfr/TC4Ex/*,*/Sfr/TC4Zx/*,*/Sfr/TC44x/*,*/Sfr/TC45x/*,*/Sfr/TC46x/*,*/Sfr/TC48x/*,*/Sfr/TC49x/*,*/Sfr/TC49xN/*" />
		<selection>
			<!-- Selecting the Intel 8051 only files at this level -->
			<use files="*/Sfr/TC4Dx/*, */Scr/*, */AppSw/CpuGeneric/Config/Ifx_Cfg.h, */AppSw/i51/main.c"/>
			<discard files="*/ArcEv/*, */Tricore/*, */CpuGeneric/*, */Sfr/TC4Ex/*, */Sfr/TC4Zx/*, */Sfr/TC44x/*, */Sfr/TC45x/*, */Sfr/TC46x/*, */Sfr/TC48x/*, */Sfr/TC49x/*, */Sfr/TC49xN/*" />
			<assign targets="i51/Scr" />
		</selection>
		<selection>
			<use files="*/Sfr/TC4Dx/*, */Tricore/*, */AppSw/CpuGeneric/Config/Ifx_Cfg.h, */CpuGeneric/*, */AppSw/CpuGeneric/*, */AppSw/Tricore/*"/>
			<!-- Selecting the Tricore only files at this level -->
			<discard files="*/Libraries/*/Scr/*, */AppSw/i51/main.c" />
			<assign targets="Tricore/Tc" />
	</selection> 
	</selection>
</root>
